.bg-primary-card {
  background-color: #201941;
}

.max-w-sm {
height: 24rem;
}

span{
  font-family: 'Inconsolata', monospace;
}

.card-project {
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.card-project:hover{


    outline: none;
    box-shadow: 3px 3px 0 0 rgb(129 140 248 / var(--tw-text-opacity));;
    transform: translate(-4px, -4px);
}

.span-topics:hover{
  color: var(--title-color);
  font-weight: 700;
}


.zoom {
  transition: transform .2s;
}




