#accion{
  font-family: 'Inconsolata', monospace;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

#accion:hover{
  outline: none;
  box-shadow: 3px 3px 0 0 rgb(129 140 248 / var(--tw-text-opacity));;
  transform: translate(-4px, -4px);
}
