
.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0px;

}

.fixed-sidebar{

  display: block;
  position: fixed;
  transition: 0.2s linear;
  top: 0px;
  height: 100%;
  background-color: rgb(21, 14, 65);

}

.w-ul {
  width: min(75vw, 400px);
}


.w-sidebar {
  width: 250px;
}


.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}


.bg-panel{
  background-color: rgb(21, 14, 65);
}

.grid-template-movil{
   grid-template-columns: 20% 79%;
   background-color: transparent !important;
}

.visibilidad {
  visibility: hidden;
}

/* border */





/* copiado */

.sidebar{
        position:relative;
        top:0;
        width:325px;
        height:100%;
        box-shadow:2px 2px 3px 3px rgb(25, 19, 65);
        box-sizing:border-box;
        padding:20px 30px;
        background:rgb(21, 14, 65);
      }

.hide{
  transition:right 0.2s linear;
  right:-370px;

}

.show{
  transition:right 0.2s linear;
  right:0px;
}




.resume-link{
  font-family: 'Inconsolata', monospace;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}


.resume-link:hover {
  outline: none;
  box-shadow: 3px 3px 0 0 rgb(129 140 248 / var(--tw-text-opacity));;
  transform: translate(-4px, -4px)
}
