<section class="about-section" style="margin: 0px auto; padding:100px 0; max-width: 900px;">


  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">


    <div class="about-section">

      <h2 class="font-bold text-indigo-400">Sobre mi</h2>

      <div style="display:block">

        <p class="mb-3">
          ¡Saludos! Soy Jorge, un apasionado desarrollador Front-end con experiencia en la creación de experiencias web cautivadoras y funcionales. Mi trayectoria se ha centrado en la implementación de soluciones mediante el uso de tecnologías clave, incluyendo JavaScript, PHP, CSS y HTML.</p>
        <p class="mb-3">A lo largo de mi carrera, he trabajado en una amplia gama de proyectos, desde sitios web corporativos hasta aplicaciones interactivas. Mi enfoque se basa en traducir conceptos de diseño desafiantes en código limpio y eficiente, siempre priorizando la usabilidad y la accesibilidad.</p>


        <p class="mb-3">Recientemente construí y desplege un proyecto de <a target="_blank" href="https://matetics.netlify.app" class="text-indigo-400">aula interactiva </a>de matematicas para estudiantes de 4 de primaria</p>


          <ul class="list-skills">
            <li>JS</li>
            <li>REACT</li>
            <li>ANGULAR</li>
            <li>TAILWIND</li>
            <li>PHP</li>
            <li>LARAVEL</li>
          </ul>




      </div>

    </div>

    <div class="about-section items-center-i height-auto mt-img-6" >
      <div class="wrapper" >
        <img src="/assets/images/unnamed.jpg" alt="Perfil">
      </div>

    </div>

  </div>




</section>
